:root {
  --prime-color: #143c46;
  --second-color: #75c4ba;
}

.App {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row-reverse;
  color: var(--prime-color);
}

.right-column {
  width: 25%;
  height: 100%;
  text-align: center;
  position: relative;
}

.left-column {
  width: 75%;
  height: 100%;
  text-align: center;
}

hr {
  margin: 20px auto;
  width: 100%;
  border: 1px solid var(--prime-color);
}

.fade-in {
  animation: fadeIn ease .8s;
  -webkit-animation: fadeIn ease .8s;
  -moz-animation: fadeIn ease .8s;
  -o-animation: fadeIn ease .8s;
  -ms-animation: fadeIn ease .8s;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
  
@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
  
@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
  
@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
  
@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@media only screen and (max-width: 1120px) {
  .right-column {
      display: none;
  }
  .left-column {
    width: 100%;
  }
} 